.overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    right: 0;
    top: 0;
    transition: opacity .3s linear;
    z-index: 9999;

    .loading {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &.open {
        opacity: 1;
        pointer-events: all;
    }
}